<!--resume Body -->
<div class="container">
	<h1>Drew Ruselowski</h1>
	<h3>Computer Programmer</h3>
	<p>817 12th Street<br>Santa Monica, CA<br>Cell: 734.330.9448<br>Email: druselow@gmail.com</p>
</div>
<div class="container">
	<h3>Software Engineering Background:</h3>
	<ul>
		<li>Full-Stack, object oriented programming, focusing on Javascript and Python; multiple libraries and frameworks, including Django, Angular, Backbone, and Phaser.</li>
		<li>Other software application experience includes: InEntertainment, Macromedia Fireworks & Flash, iMovie, Adobe Premiere & After Effects, Microsoft Office, Final Cut Pro, and FileMaker Pro</li>
		<li>Created and launched apps utilizing Amazon Web Services</li>
		<li>Developed multiple programs utilizing 3rd party API's</li>
	</ul>
</div>
<div class="container">
	<h3>Previous Experience:</h3>
	<span class="lead">Timothy Cline Insurance Agency:     </span><span>     October 2013 - April 2015</span>
	<p>Santa Monica, CA</p>
	<p><b>Assistant / Escrow Coordinator</b></p>
	<ul>
		<li>Maintained server, phones, and solved technical issues throughout office</li>
		<li>Managed and improved company website</li>
		<li>Created powerpoint keynote speeches utilizing wireless polling devices</li>
		<li>Responsible for coordinating insurance information for HOAs between lenders and
homeowners</li>
		<li>Worked with wholesalers and insurance companies to quote policies for HOAs</li>
		<li>Provided on­site inspections for underwriters</li>
	</ul>

	<span class="lead">Incognito Pictures:    </span><span>   January 2012 - August 2013</span>
	<p>Encino, CA</p>
	<p><b>Executive Assistant / Creative Executive / Office Manager</b></p>
	<ul>
		<li>Set up and maintained office phones, internet, email, and all other device support</li>
		<li>In charge of hiring and training interns, new assistants</li>
		<li>Managed email, call sheets, travel, and schedules for CEO and VP of Production
and Development</li>
		<li>Located new material for development and production</li>
		<li>Worked with writers revising and polishing scripts for production</li>
	</ul>

	<span class="lead">Innovative Artists:   </span><span>   April 2008 - August 2011</span>
	<p>Santa Monica, CA</p>
	<p><b>Talent and Literary Agency Assistant</b></p>
	<ul>
		<li>Managed calls, emails, and schedules for multiple agents, including CEO, simultaneously</li>
		<li>Responsible for coordinating travel for both clients and agents</li>
		<li>Acted as liaison for agents and clients at both in­office and out­of­office events</li>
		<li>Pitched talent to casting directors and producers for upcoming projects</li>
		<li>Closed deals for talent on multiple shows for multiple networks</li>
		<li>Worked with Literary Department to develop projects and attach talent</li>
		<li>Involved in heavy script reading, as well as coverage and overhead notes</li>
	</ul>
</div>

<div class="container">
	<h3>Education:</h3>
	<span class="lead">Rocket University   </span><span>   San Francisco, CA</span>
	<p>Graduate, Software Engineering, July 2015</p>
	<br>
	<span class="lead">University of Michigan   </span><spand>   Ann Arbor, MI</spand>
	<p>Bachelor of Arts, Film and Video, 2006</p>
</div>
<br>
<div class="container">
	<a class="btn btn-success" target="_blank" href="./mainpage/assets/Ruselowski-Resume.pdf">Download Resume as PDF</a>
</div>
<br>

