<!--resume Body -->
<div class="container">
	<h1>Drew Ruselowski</h1>
	<h3>Computer Programmer</h3>
	<p>817 12th Street<br>Santa Monica, CA<br>Cell: 734.330.9448<br>Email: druselow@gmail.com</p>
</div>
<div class="container">
	<h3>Software Engineering Background:</h3>
	<ul>
		<li>Full-Stack, object oriented programming, focusing on Javascript and Python; multiple libraries and frameworks, including Django, Angular, Backbone, and Phaser.</li>
		<li>Other software application experience includes: Git Workflow, Macromedia Fireworks & Flash, iMovie, Adobe Premiere & After Effects, Microsoft Office, Final Cut Pro, and FileMaker Pro</li>
		<li>Created and launched apps utilizing Amazon Web Services</li>
		<li>Developed multiple programs utilizing 3rd party API's</li>
	</ul>
</div>
<div class="container">
	<h3>Freelance Work</h3>
	<p>July 2015 - Present</p>
	<ul>
		<li>Designed a number of websites using HTML5, CSS, Javascript, and AngularJS.</li>
		<li>Solved HTML malware problem</li>
		<li>Developed personal projects:</li><br>
		<span class="lead">League of Legends Stats API</span>
		<p style="font-style: italic">Page that utilizes the League of Legends REST API to pull stats and champion details</p>
		<p>Technologies used:</p>
		<ul>
			<li>HTML5, CSS3, JavaScript, AngularJS</li>
		</ul>
		<br>
		<br>

		<span class="lead">Pokemon Random Team Builder</span>
		<p style="font-style: italic">Makes AJAX calls to the Pokemon REST API, to pull data, generating random teams.</p>
		<p>Technologies used:</p>
		<ul>
			<li>HTML5, CSS3, Javascript, JQuery</li>
		</ul>

	</ul>
</div>

<div class="container">
	<h3>Education:</h3>
	<span class="lead">Rocket University   </span><span>   San Francisco, CA</span>
	<p>Graduate, Software Engineering, July 2015</p>
	<p style="font-style: italic">Select projects:</p>
		<ul>
			<li>Hangman (Python), Various Sort functions (Javascript), AWS deployed blog (AWS, Django, Python, Javascript), Responsive Homepage (BackboneJS, Bootstrap), basic games (PhaserJS)</li>
		</ul>
	<br>
	<span class="lead">University of Michigan   </span><span>   Ann Arbor, MI</span>
	<p>Bachelor of Arts, Film and Video, 2006</p>
</div>

<div class="container">
	<h3>Previous Unrelated Experience:</h3>
	<span class="lead">Timothy Cline Insurance Agency  </span><span>   Santa Monica, CA</span>
	<p><b>Assistant / Escrow Coordinator</b></p>
	<p>October 2013 - May 2015</p>

	<br>
	<span class="lead">Incognito Pictures   </span><span>   Encino, CA</span>
	<p><b>Executive Assistant / Creative Executive / Office Manager</b></p>
	<p>January 2012 - August 2013</p>

	<br>
	<span class="lead">Innovative Artists     </span><span>     Santa Monica, CA</span>
	<p><b>Talent and Literary Agency Assistant</b></p>
	<p>April 2008 - August 2011</p>
</div>

<br>
<div class="container">
	<a href="./mainpage/assets/Ruselowski-Resume.pdf" download>Download Resume as PDF</a>
</div>
<br>

